
  .brand-text {
    background-image: linear-gradient(90deg, #212529 56%, rgb(220 53 69) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
  }
  .brand-text:hover{
    background-image: linear-gradient(90deg, #212529 56%, rgb(220 53 69) 50%);
    color: transparent;
  }
  .brand-text:focus{
    background-image: linear-gradient(90deg, #212529 56%, rgb(220 53 69) 50%);
    color: transparent;
  }

  .logo{
    color: rgb(220 53 69);
  }
  .profile-icon {
    font-size: 28px; /* Adjust font size as needed */
  }

  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .navbar-brand {
      margin-right: auto; /* Align brand to the left on small screens */
    }
    .profile-icon {
      display: none; /* Hide profile icon on small screens */
    }
    .navmj{
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Change the color and style as needed */
      padding: 10px;
    }
    
  }
  
  .navbar-custom {
    transition: top 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    z-index: 1000;
    height: 90px;
  }
  
  .sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    background-color: #fff; /* Update with your desired background color */
    z-index: 1000; /* Ensure Navbar is above other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for a better visual effect */
  }
  
  .active{
    color: rgb(220 53 69) !important;
  }

  .toggle-clicked {
    background-color: white;
  }
  .navmj {
    position: relative;
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
  }

  .navmj::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(220, 53, 69);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
  }

  .navmj:hover::after {
    transform: scaleX(1);
  }

  .nav-link:last-child {
    border-right: none; /* Remove border from the last nav link */
  }