.cover-section {
    background-color: white;
    padding: 130px 0;
}

.container_aboutus {
    max-width: 100%;
    position: relative;
    display: block;
    padding: 0;
}

.aboutus-section {
    background-color: white;
    padding: 20px 0;
}

.Container {
    background-color: #F1E3FC;
    margin: 10px 50px;
    padding: 10px 30px;
    border-radius: 20px;
}

.cover-section h1 {
    font-size: 50px;
    padding: 0;
    font-weight: 700;
    color: rgb(220 53 69);
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .Container {
        margin: 10px 10px;
    }
}