.scroll-up-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(220 53 69); /* Change the background color as needed */
    color: #fff; /* Change the text color as needed */
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .scroll-up-btn.show {
    opacity: 1;
    z-index: 1;
  }
  